<section id="home" class="hero-container" appReveal>
 <div class="contaier">   
  <div class="hero-text">
    
    <h1 class="name">Hi, am Luyanda Ndlovu</h1>
    <p class="description"> <strong>I am a Software Developer &</strong></p>
    <h3 class="greeting"> 
    <strong class="prof"><span class="multiple-text">{{ displayText }}</span><span class="typed-cursor">|</span> </strong>.
    </h3>
    <p class="description">
     <strong>  I focus on building 
      functional, user-centered applications with clean code and modern aesthetics.</strong>
    </p>
    <button class="download-btn" (click)="downloadCV()">Download CV</button>
  </div>
 </div> 

  <div class="hero-image-wrapper">
    <div class="purple-bg-shape"></div>
    <img src="Luyanda.png" alt="Profile" class="profile-img">
  </div>
</section>

 