.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: calc(100vh - 90px); /* Adjust based on your header height */
   padding: 40px 8% 0 8%;
   width:100%;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

.container{
width: 90%;
  margin: 0 auto;
  padding: 20px 8%;
}

.prof{
  color:#6d5dfc;
  margin:0;
}

/* Left side styling */
.hero-text {
  flex: 1;
  z-index: 2;
  ;
}

.greeting {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0;
}

.name {
  font-size: 4.5rem;
  font-weight: 800;
  line-height: 1;
  margin-bottom: 1rem;
}

.description {
  font-size: 1.2rem;
  color: #666;
  max-width: 450px;
  
}

.download-btn {
  background-color: #6d5dfc;
  color: white;
  padding: 14px 30px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 8px 15px rgba(109, 93, 252, 0.3);
}

/* Right side styling - The Image & Purple Shape */
.hero-image-wrapper {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 90%;
  position: relative;
}

.profile-img {
  height: 90%; /* Adjust based on your photo */
  z-index: 2;
  object-fit: contain;
}

/* The diagonal purple background from the reference image */
.purple-bg-shape {
  position: absolute;
  top: 0;
  right: -10%;
  width: 100%;
  height: 100%;
  background-color: #6d5dfc;
  clip-path: polygon(40% 0%, 100% 0%, 100% 100%, 0% 100%);
  z-index: 1;
}

/* Responsive for Mobile */
@media (max-width: 768px) {
  .hero-container {
    flex-direction: column;
    text-align: center;
    padding-top: 50px;
  }
  .hero-image-wrapper {
    width: 100%;
    height: 400px;
  }
  .name { font-size: 3rem; }
}

 :host-context(.dark-theme) .hero-container, :host-context(.dark-theme) .stack-card{
  background: #1e293b;
  
}

    :host-context(.dark-theme) .hero-text p{
        color: #cbd5e1;
    }

    :host-context(.dark-theme) .hero-text h1, :host-context(.dark-theme) .hero-text h3{
        color: #6d5dfc;
    }
 
 :host-context(.dark-theme) .hero-container {
  background: #1e293b;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}   

    .multiple-text {
  color: #6d5dfc; /* Your purple theme color */
  font-weight: 700;
}

.typed-cursor {
  color: #6d5dfc;
  font-weight: 200;
  font-size: 1.2rem;
  margin-left: 2px;
  animation: blink 0.7s infinite;
}

/* Keyframe for the blinking animation */
@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
